<!-- Define recursion template -->
{% macro render_reply(reply) %}
<!-- Check if the current_user has voted on the reply -->
{% set ns = namespace(has_voted=false) %}
{% for vote in reply.vote_records %}
  {% if vote.user_id == current_user.id %}
    {% set ns.has_voted = True %}
  {% endif %}
{% endfor %}
<li>
  <div id="reply{{ reply.id }}" class="row reply">
    <div class="col-sm-2">
      <!-- Author Info -->
      <div class="author">
        <!-- Profile image -->
        <a href="{{ url_for('profile.profile_view', user_id=reply.user_id) }}">
          {% if reply.user.profile_image %}
          <img src="{{ url_for('index.serve_uploaded_file', filename=reply.user.profile_image) }}" alt="Profile Image"
            class="rounded-circle">
          {% else %}
          <h1><i class="fa-solid fa-circle-user"></i></h1>
          {% endif %}
        </a>
        <!-- author name and level -->
        <div class="col">
          <div class="row">
              <div class="col-12">
                <a href="{{ url_for('profile.profile_view', user_id=post.user.id) }}">
                  <span class="author-name">{{ current_user.username }}</span>
                </a>
                <span class="author-level">{{ current_user.level }}</span>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">
          <div class="card-text">
            {{ reply.body | safe }}
          </div>
        </div>
        <div class="card-footer">
          <p class="card-text text-end">
            <small class="text-body-secondary">
              Created at {{ reply.real_timestamp }} by {{ reply.user.username }}<br>
              {% if reply.last_edited %}
              (last edited at {{ reply.real_last_edited }})
              {% endif %}
            </small>
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="action-panel">
        {% if reply.accepted %}
        <h2 class="text-success" data-bs-toggle="tooltip" data-bs-title="This reply has been accepted by {{ post.user.username }}">
          <i class="fa-solid fa-check-double"></i>
        </h2>
        {% endif %}
        <h5>{{ reply.votes }}</h5>
        <!-- Post author can accept reply if there is no answer yet -->
        {% if current_user.id == post.user.id and not has_answer %}
        <a href="{{ url_for('post.accept_reply', post_id=post.id, reply_id=reply.id )}}" data-action="accept"
          class="btn btn-success" data-bs-toggle="tooltip" data-bs-title="Accept this reply">
          <i class="fa-solid fa-check-double"></i>
        </a>
        {% endif %}
        <!-- Users can reply to the reply -->
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('post.reply_to_reply', post_id=post.id, reply_id=reply.id) }}" data-action="modal" class="btn btn-primary"
          data-bs-toggle="tooltip" data-bs-title="Reply to this" data-reply-username="{{ reply.user.username }}">
          <i class="fa-solid fa-reply"></i>
        </a>
        {% endif %}
        <!-- Reply author can edit or delete reply -->
        {% if current_user.id == reply.user_id %}
        <a href="" data-action="edit" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-title="Edit the reply">
          <i class="fa-solid fa-pen-to-square"></i>
        </a>
        <a href="{{ url_for('post.edit_reply', post_id=post.id, reply_id=reply.id) }}" data-action="save"
          class="btn btn-primary d-none" data-bs-toggle="tooltip" data-bs-title="Save the edit">
          <i class="fa-solid fa-circle-check"></i>
        </a>
        <a href="" data-action="abort" class="btn btn-secondary d-none" data-bs-toggle="tooltip"
          data-bs-title="Abort the edit">
          <i class="fa-solid fa-circle-xmark"></i>
        </a>
        <a href="{{ url_for('post.delete_reply', post_id=post.id, reply_id=reply.id) }}" data-action="delete"
          class="btn btn-danger" data-bs-toggle="tooltip" data-bs-title="Delete the reply">
          <i class="fa-solid fa-trash-can"></i>
        </a>
        <!-- Other users can vote on the reply -->
        {% elif current_user.is_authenticated %}
        <!-- If voted, allow revoking -->
        {% if ns.has_voted %}
        <a href="{{ url_for('post.vote', post_id=post.id, reply_id=reply.id) }}" data-action="upvote"
          class="btn btn-light active" data-bs-toggle="tooltip" data-bs-title="Revoke the vote"
          aria-pressed="true">
          <i class="fa-solid fa-thumbs-up"></i>
        </a>
        {% else %}
        <a href="{{ url_for('post.vote', post_id=post.id, reply_id=reply.id) }}" data-action="upvote"
          class="btn btn-light" data-bs-toggle="tooltip" data-bs-title="Upvote the reply">
          <i class="fa-solid fa-thumbs-up"></i>
        </a>
        {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
  {% for reply in reply.replies %}
  <ul>
    {{ render_reply(reply) }}
  </ul>
  {% endfor %}
</li>
{% endmacro %}

<!-- Render replies -->
<ul class="reply-thread">
  {% for reply in post.replies %}
    {{ render_reply(reply) }}
  {% endfor %}
</ul>