# Ignore virtual environment
.venv/
venv/

# Ignore compiled python files
__pycache__/

# Ignore database
instance/

# Ignore README in migrations
!flask/migrations/
flask/migrations/README

# Ignore .DS_Store files
.DS_Store
**/.DS_Store
#Ignore IDE configuration directory
.idea/
