<div class="row d-flex justify-content-center mt-5">
  <!-- Recent 10 posts -->
  <div class="col-md-5">
    <div id="recent-posts" class="row">
      <h3>Recent 10 posts</h3>
        {% for post in user_posts %}
        <div class="post-card">
          <h4><a href="{{ url_for('post.post', post_id=post.id) }}" class="post-title">{{ post.title }}</a></h4>
          <div class="post-meta">
            <span><i class="fa-solid fa-feather"></i> {{ post.real_timestamp }}</span>
            <span><i class="fa-solid fa-eye"></i> {{ post.views }} views</span>
          </div>
        </div>
        {% endfor %}
        {% if not user_posts %}
        <h5 class="text-center">No posts found.</h5>
        {% endif %}
    </div>
  </div>
  <!-- Recent 10 interactions -->
  <div class="col-md-5">
    <div id="recent-actions" class="row">
      <h3>Recent 10 interactions</h3>
        {% for post in user_responses %}
        <div class="post-card">
          <h4><a href="{{ url_for('post.post', post_id=post.id) }}" class="post-title">{{ post.title }}</a></h4>
          <div class="post-meta">
            <span><i class="fa-solid fa-feather"></i> {{ post.real_timestamp }}</span>
            <span><i class="fa-solid fa-eye"></i> {{ post.views }} views</span>
          </div>
        </div>
        {% endfor %}
        {% if not user_responses %}
        <h5 class="text-center">No interactions found.</h5>
        {% endif %}
    </div>
  </div>

</div>