
<div class="row d-flex justify-content-center align-items-center">
  <!-- Box -->
  <div class="col-md-10">
    <div id="profile-box" class="row mt-5">

      <!-- Imaage -->
      <div class="col-md-3 d-flex justify-content-center align-items-center">
        <div id="image-container">
          <!-- User has upload profile image -->
          {% if user.profile_image %}
          <img id="profile-image" src="{{ url_for('index.serve_uploaded_file', filename=user.profile_image) }}"
            alt="Profile Image">
          {% if current_user.id == user.id %}
          <button type="button" class="btn btn-secondary" data-action="upload-image" data-url="{{ url_for('index.upload_image', profile_image=1) }}">
            <i class="fa-solid fa-pen"></i>
          </button>
          <button type="button" class="btn btn-danger" data-action="delete-image" data-url="{{ url_for('profile.delete_image') }}">
            <i class="fa-solid fa-trash-can"></i>
          </button>
          {% endif %}
          <!-- User has not upload image, use default icon -->
          {% else %}
          <i id="profile-image" class="fa-solid fa-user-circle fa-10x"></i>
          {% if current_user.id == user.id %}
          <button type="button" class="btn btn-secondary" data-action="upload-image" data-url="{{ url_for('index.upload_image', profile_image=1) }}">
            <i class="fa-solid fa-pen"></i>
          </button>
          <button type="button" class="btn btn-danger d-none" data-action="delete-image" data-url="{{ url_for('profile.delete_image') }}">
            <i class="fa-solid fa-trash-can"></i>
          </button>
          {% endif %}
          {% endif %}
        </div>
      </div>

      <!-- Details -->
      <div id="detail-container" class="col-md-9">
        <div class="profile-info">
          <span class="profile-greeting">G'day mate! I'm your friendly neighbour,</span>
          <div class="profile-name">
            <h1>{{ user.username }}</h1>
            {% if current_user.id == user.id %}
            <a href="{{ url_for('profile.edit_profile') }}" class="hide" data-action="edit-username">
              <i class="fas fa-pen"></i>
            </a>
            {% endif %}
          </div>
          <div class="profile-topics">
            <span class="profile-topics-label">Find me around these interest areas:</span>
            <div class="d-flex align-items-center flex-wrap">
              <div class="profile-topics-tags">
                {% if user.interested_topics %}
                <i class="fas fa-heart profile-topics-icon"></i>
                {% for topic in user.interested_topics.split(',') %}
                <span class="badge rounded-pill text-bg-secondary">{{ topic }}</span>
                {% endfor %}
                {% else %}
                <span>No topics selected.</span>
                {% endif %}
                {% if current_user.id == user.id %}
                <!-- Redirect to topic selection page -->
                <a href="{{ url_for('auth.topic_select') }}" class="hide">
                  <i class="fas fa-pen"></i>
                </a>
                {% endif %}
              </div>
            </div>
          </div>
          <p class="profile-detail">
            <i class="fas fa-envelope profile-icon"></i>
            <span>{{ user.email }}</span>
            {% if current_user.id == user.id %}
            <a href="{{ url_for('profile.edit_profile') }}" class="hide" data-action="edit-email">
              <i class="fas fa-pen"></i>
            </a>
            {% endif %}
          </p>
          <p class="profile-detail">
            <i class="fas fa-map-marker-alt profile-icon"></i>
            <span>{{ user.suburb }}</span>
            {% if current_user.id == user.id %}
            <a href="{{ url_for('profile.edit_profile') }}" class="hide" data-action="edit-suburb">
              <i class="fas fa-pen"></i>
            </a>
            <select name="suburb" id="suburb" class="form-control d-none">
              {% for suburb in suburbs %}
              <option value="{{ suburb }}" {% if suburb==user.suburb %} selected {% endif %}>{{ suburb }}</option>
              {% endfor %}
            </select>
            <a href="{{ url_for('profile.edit_profile') }}" class="d-none" data-action="save-suburb">
              <i class="fa-solid fa-circle-check"></i>
            </a>
            <a href="{{ url_for('profile.edit_profile') }}" class="d-none" data-action="abort-suburb">
              <i class="fa-solid fa-circle-xmark"></i>
            </a>
            {% endif %}
          </p>
          <p class="profile-detail">
            POINTS:
            <span>{{ user.points }}</span>
          </p>
          <p class="profile-detail">
            LEVEL:
            <span>{{ user.level }}</span>
          </p>

          {% if current_user.id == user.id %}
          <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#changePasswordModal">
            <i class="fa-solid fa-fingerprint"></i>
          </button>
          {% endif %}
          {% if current_user.id == user.id %}
          <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#pointsHistoryModal">
              <i class="fa-solid fa-chart-column"></i>
          </button>
          {% endif %}

        </div>
      </div>

    </div>
  </div>

</div>

{% if current_user.id == user.id %}
<div class="modal fade" id="changePasswordModal" tabindex="-1" aria-labelledby="changePasswordModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="changePasswordModalLabel">Change Password</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="password-messages" class="alert" style="display:none;"></div>
        <div class="mb-3">
          <label for="current-password" class="form-label">Current Password</label>
          <input type="password" class="form-control" id="current-password" required>
        </div>
        <div class="mb-3">
          <label for="new-password" class="form-label">New Password</label>
          <input type="password" class="form-control" id="new-password" required>
        </div>
        <div class="mb-3">
          <label for="confirm-new-password" class="form-label">Confirm New Password</label>
          <input type="password" class="form-control" id="confirm-new-password" required>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-primary" id="submitChangePassword"
          data-url="{{ url_for('profile.change_password') }}" data-action="change-password">
          Change Password
        </button>
      </div>
    </div>
  </div>
</div>
{% endif %}

<!-- points history -->
{% if current_user.id == user.id %}
<div class="modal fade" id="pointsHistoryModal" tabindex="-1" aria-labelledby="pointsHistoryModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="pointsHistoryModalLabel">Points History</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <iframe src="{{ url_for('profile.points_history', user_id=user.id) }}" width="100%" height="400px" frameborder="0"></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endif %}
