body {
  background-color:white;;
  color: #333;
  margin:8%;
  padding-bottom: 100px;
  align-items: center;
  flex-direction: column;
  font-family: Helvetica Neue;
}


#us_heading{
  justify-content: center;
  align-items: center;
  height: 180px;
  margin-bottom: 0px;
  text-align: center;
}

#us_heading h1{
  text-align: center;
  font-size: 50px;
  font-weight: 800;
}

#us_heading h4{
  padding-top: 30px;
  padding-bottom: 0px;
}

.web_intro{
  display: flex;
  background-color: white;
  margin:0% ;
}

#us_goal{
  flex-direction: column;  
  align-items: center;     
  justify-content: center;
  text-align: left;
}

#us_goal p{
  padding-top: 150px;

}


#about_us_img1{
  border-radius: 8px;
}

#about_us_img1 img{
  margin-top: 16%;
  width: 100%;
}

.us_container_parts{
  width: 100%;
  background-color: white;
  color: #000;
}
#us_h2{
  color: #333;
  margin-top: 50px;
  margin-bottom: 50px;
}

.us_container_features{
  text-align: center;
  margin-right: 8%;
  margin-bottom: 50px;
  background-color: rgba(67, 186, 173, 0.3);
  border-radius: 12px;
}

.us_container_features p{
  text-align: left;
  padding: 10px;
  padding-left: 25px;
}

.us_container_features h4{
  font-weight: 600;
  padding-top: 15px;
}

#user_story{
  width: 100%;
  border-radius: 5px;
  display: flex;
  color: black;
}

#user_story_header{
  margin-top: 50px;
  margin-bottom: 50px;
}

#user_story_header h2{
  font-weight: 600;
}

#user_1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; 
}

#user_2{
  margin-top: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; 
}

#user_1 img{
  width: 30%;
  height: auto;
}

#user_1 p{
  padding: 30px;
  background-color: rgba(67, 186, 173, 0.3);
  border-radius: 8px;
}

#user_2{
  align-items: center;
  color: #2c1e12;
}

#user_2 img{
  width: 30%;
  height: auto;
}

#user_2 p{
  margin-top: 13px;
  padding: 30px;
  background-color: rgba(67, 186, 173, 0.3);
  border-radius: 8px;
}

#impact{
  width: 100%;
  padding: 30px;
  margin-top: 10%;
  margin-bottom: 10%;
  border-radius: 5px;
  display: flex;
  background-color: rgba(67, 186, 173, 0.3);
  align-items: center;
}

#impact p{
  align-items: center;
}

#impact h2{
  font-weight: 700;
  text-align: center;
  align-items: center;
}
#contact{
  width: 100%;
  margin-top: 10%;
  border-radius: 5px;
  padding: 30px;
  background-color: rgba(67, 186, 173, .3);
}
#contact h2{
  padding: 30px;
  font-weight: 700;
  text-align: center;
  align-items: center; 
}
