#points_flash {
    height: 30px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.btn-close {
    padding-top: 0;
    margin-left: auto;
    margin-top: -12px;
}