.container_2 {
    display: flex;
    flex-wrap: wrap;
    background-color: #F8F8F5;
    height: auto;
    min-height: 1200px;
}


#hot_topics {
    margin-top:30px;
    position: fixed;
    font-size: 14px;
}



.top_box {
    margin: 10px auto;
    background-color: rgba(210, 227, 200, 0.4);
    padding: 15px;
    border-radius: 5px;
}

.top_box a {
    color: #000;
    text-decoration: none;
  }


.box_head {
    border-bottom: 1px solid rgba(12, 12, 12, 30%);
    padding: 10px 0;
    font-weight: bold;
    text-align: center;
}

.topic_item {
    padding: 5px;
    margin: 2px 0;
}
.topic_item a{
  color: black;
}
