#container_2 {
    display: flex;
    flex-wrap: wrap;
    background-color: #F8F8F5;
    height: auto;
    min-height: 1200px;
}

#hot_topics {
    display: flex;
    justify-content: center;
    width: 20%;
    text-align: center;
    border-right: 1px solid rgba(12, 12, 12, 10%);
}

.top_box {
    position: fixed;
    top:80px;
    margin: 10px auto;
    background-color: rgba(210, 227, 200, 40%);
    width: auto;
    min-width: 200px;
    padding: 10px;
    border-radius: 5px;
}

#hot_tags {
    display: flex;
    justify-content: center;
    width: 20%;
    text-align: center;
    border-left: 1px solid rgba(12, 12, 12, 20%);
}

.box_head {
    border-bottom: 1px solid rgba(12, 12, 12, 30%);
    padding: 10px 0;
    font-weight: bold;
}

.topic_item {
    padding: 5px;
    margin: 2px 0;
}
.topic_item a{
  color: black;
}
/* search part */

#search-form{
  margin-top: 20px;
}