.container_1{
  display:grid;
  place-items:center;
  background-color:#EBF3E8;
  height:800px;
  align-content:  center;
  color: white;
  margin-top:0;
}
.container_1_1{
  background-color:#D2E3C8;
  width:100%;
  height:400px;
  text-align:center;
}
#t_1{
  padding:100px;
  font-size:50px;
  display: inline-block;
  animation: jelly 4s infinite;
}

@keyframes jelly {
    0%, 100% {
        transform: scale(1);
    }
    25%, 75% {
        transform: scale(1.05);
    }
    50% {
        transform: scale(1);
    }
}