/* Post detail */
.post-container {
  padding: 2rem;
}

.post-container .header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-container .row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 1rem;
}

.post-container .card {
  min-height: 170px;
  position: static;
}
/* Image resize */
.post-container .card-text:not(.ql-container) img {
  width: 100%;
  max-width: 300px;
  object-fit: contain;
  cursor: zoom-in;
  transition: 0.3s;
}

.post-container .card-text.ql-container img {
  width: 100%;
  max-width: 300px;
  object-fit: contain;
  transition: 0.3s;
}

.post-container .card-text img:hover {
  opacity: 0.7;
}

.image-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 80vw;
}
.modal-content {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

/* Actions */
.action-panel {
  text-align: center;
}

.action-panel a {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

/* Replies */
ul.reply-thread {
  padding: 0
}

ul,
li {
  list-style: none;
}

ul.reply-thread li ul {
  margin-left: 2rem;
  position: relative;
}

ul.reply-thread li ul::before {
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  width: .5rem;
  left: 2.5rem;
  border: 1px solid gray;
  border-radius: 15px 0 0 15px;
  background-color: gray;
}