/* Post detail */
.post-container {
  padding: 2rem;
}

.post-container h1 {
  text-align: center;
}

.post-container .row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 1rem;
}

.post-container .card {
  min-height: 170px;
  position: static;
}

.action-panel {
  text-align: center;
}

.action-panel a {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

/* Replies */
ul.reply-thread {
  padding: 0
}
ul, li {
  list-style: none;
}
ul.reply-thread li ul {
  margin-left: 2rem;
  position: relative;
}
ul.reply-thread li ul::before {
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  width: .5rem;
  left: 2.5rem;
  border: 1px solid gray;
  border-radius: 15px 0 0 15px;
  background-color: gray;
}