.profile-container {
  background-color: rgba(154, 200, 205, .5)
}

#profile-box {
  background-color: #fff;
  border-radius: 1rem;
  padding: .5rem;
  margin: 1rem;
}

#image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  position: relative;
}

#image-container img {
  width: 150px;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

#image-container button:nth-child(2) {
  position: absolute;
  right: 5px;
  top: 5px;
  border-radius: 50%;
}

#image-container button:last-child {
  position: absolute;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
}

.profile-info {
  margin-left: 15px;
  position: relative;
}

.profile-greeting {
  display: block;
  color: #333;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.profile-name {
  color: #333;
  font-weight: bold;
}
.profile-name h1 {
  display: inline-block;
}

.profile-detail {
  font-size: 1.1rem;
  color: #666;
  margin: 10px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-icon,
.profile-topics-icon {
  color: #6c757d;
  margin-right: 10px;
}

.profile-topics-label {
  font-weight: bold;
  display: block;
  margin-top: 20px;
}

.hide {
  display: none;
}

/* Hover on area to show edit button */
.profile-topics:hover .hide,
.profile-detail:hover .hide,
.profile-name:hover .hide {
  display: inline-block;
  color: #333;
}

.profile-detail a {
  color: #333;
}


.profile-info button:last-child {
  position: absolute;
  right: 5px;
  top: 20px;
  margin: 10px;
}

#recent-posts, #recent-actions {
  min-height: 200px;
  margin: 5px;
  border-radius: 1rem;
}

#recent-posts h3, #recent-actions h3 {
  text-align: center;
}

.post-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin-bottom: 1rem;
  transition: box-shadow 0.3s ease-in-out;
}

.post-card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.post-title {
  color: #007bff;
  text-decoration: none;
  font-weight: 500;
  margin-bottom: 1rem;
}

.post-meta {
  color: #010202;
  font-size: 0.85rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
