.profile-background {
  background-color: #cdeadd;
  padding-bottom: 50px;
  height: 200px;
}

.profile-container {
  max-width: 900px;
  margin: auto;
}

.profile-card {
  background: #fff;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-icon {
  font-size: 200px;
  color: #555;
}

.profile-info {
  margin-left: 15px;
}

.profile-name {
  color: #333;
  font-weight: bold;
}

.profile-detail {
  font-size: 1.1rem;
  color: #666;
  margin: 10px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-icon,
.profile-topics-icon {
  color: #6c757d;
  margin-right: 10px;
}

.profile-topics-label {
  font-weight: bold;
  display: block;
  margin-top: 20px;
}

.list-inline {
  padding-left: 0;
}

.list-inline-item {
  display: inline-block;
}

.badge {
  background-color: #cdeadd;
  color: #000;
  margin-right: 5px;
  margin-bottom: 5px;
}

.profile-greeting {
  display: block;
  color: #333;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.profile-img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 0 auto 20px;
}

.btn-primary,
.btn-primary:hover,
.btn-secondary,
.btn-secondary:hover,
.btn-warning,
.btn-warning:hover {
  background-color: #cdeadd;
  border-color: #cdeadd;
  color: #000000;
}

.alert-info {
  background-color: #f1ddd1;
  color: #a67c52;
  border-color: #e0c0a0;
}

/* Responsive tweaks */
@media (max-width: 767px) {
  .profile-info {
    margin-left: 0;
    margin-top: 20px;
  }

  .profile-img {
    width: 100px;
    height: 100px;
    margin: auto;
    object-fit: cover;
  }

  .profile-card {
    transform: translateY(20%);
  }

  .edit-profile-btn {
    top: 10px;
    right: 10px;
    font-size: 0.7rem;
  }
}

.edit-profile-btn {
  position: absolute;
  top: 5px;
  right: 90px;
  z-index: 10;
  white-space: nowrap;
  color: rgb(4, 4, 4);
  border: 1px solid #000000;
  font-size: 1rem;
}

.my-large-icon {
  font-size: 13rem;
}
