/* Full Page Background Setup */
.auth-background {
    height: 100vh;
    background-image: url('/static/images/background.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Adjustments for better visual integration */
.container {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    padding: 20px;
}

/* Adjustments for the login box */
.auth-box,
.new-account-box {
    border: 1px solid #ffffff;
    padding: 20px;
    border-radius: 5px;
    background-color: #e3f1f3;
}

/* Style for the sign in button */
.btn-primary {
    background-color: #191717;
    border-color: #191717;
    color: #ffffff;
}

/* Style for the sign in button when active/clicked */
.btn-primary:active {
    background-color: #191717;
    border-color: #191717;
    color: #ffffff;
}

/* Adjust the focus and hover states */
.btn-primary:focus,
.btn-primary:hover {
    background-color: #333333;
    border-color: #333333;
    color: #ffffff;
}

/* Style for input boxes when they are focused */
.form-control:focus {
    border-color: #000000;
}

/* Control the logo size */
.login-logo {
    width: 120px;
    height: auto;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Adjusting label styles */
.form-label {
    text-align: left;
    color: #333333;
    display: block;
    margin-bottom: .5rem;
}

/* Styling for error flash messages */
.alert-custom-error {
    background-color: #f8d7da;
    border-color: #d9534f;
    color: #d9534f;
}
/* Post detail */
.post-container {
    padding: 2rem;
}

.post-container h1 {
    text-align: center;
}

.post-container .row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 1rem;
}

.post-container .card {
    min-height: 170px;
}

.action-panel {
    text-align: center;
}

.action-panel a {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

/* Create post Modal */
.post-body {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    background-color: #f9f9f9;

}

/* search part */

/* search result */
#search-result-container {
    margin: 40px;
    border: 2px solid #d3f0e3;
    border-radius: 10px;
    font-size: 15px;
}


.search-result-box {
    margin: 40px;
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 12px 0px #89adf99c;
}


.search-author-info {
    margin: 5px;
}

.search-author-info img {
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

.search-author-info span {
    font-weight: bold;
}

.search-footer span {
    margin-right: 20px;
}