/* Editor */
.ql-container {
  font-size: 18px;
}

.ql-tooltip {
  display: none;
}

.emoji-dropdown {
  position: absolute;
  background: white;
  border: 1px solid #ddd;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  max-width: 200px;
  margin-top: 2rem;
  z-index: 99;
}

.emoji {
  cursor: pointer;
  font-size: 20px;
  padding: 5px;
}

.emoji:hover {
  background-color: #f0f0f0;
}

/* Create post Modal */
.post-body {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  background-color: #f9f9f9;

}


/* search result */
#search-result-container {
  border-radius: 10px;
  font-size: 15px;
  margin: 10px;
  width: 95%;
}

#search-result-container a {
  color: #000;
  text-decoration: none;
}

.search-result-box {
  margin: 10px;
  padding: 20px;
  border: 1px solid #22c1c33b; 
  border-radius: 5px;
  box-shadow: 5px 5px 10px 0px rgba(67, 186, 173, 0.2);
}



.search-author-info img,
.search-author-info i{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 40px;
  margin-right: 10px;
}



.author-name{
  font-size: 16px;
  font-weight: bold;
}



.author-level {
  background-color: rgba(253, 146, 45, 1);
  color: rgba(253, 146, 45, 1);
  font-size: 15px;
  font-weight: bold;
  background-clip: text;
  text-shadow: 0px 5px 6px rgb(253 146 45 / 48%);
  margin-right: 5px;
  margin-bottom: 5px;
}

.bg-secondary {
  --bs-bg-opacity: 1;
  background-color: rgba(253, 146, 45, .5) !important;
}

.bg-info {
  --bs-bg-opacity: 1;
  background-color: rgba(67, 186, 173, .5)!important;

}

.badge {
  color: #000;
  margin-right: 5px;
  margin-bottom: 5px;
}

.search-post-body {
  max-height: 30vh;
  overflow-y: hidden;
  position: relative;
}

.search-post-body .read {
  position: absolute;
  bottom: 0;
  right: 5px;
  color: #f0f0f0;
  z-index: 2;
}



.search-post-body img {
  width: 100%;
  max-width: 300px;
  object-fit: contain;
}

.search-footer span {
  margin-right: 20px;
}

/* post part */
div.topicContainer {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 23%;
  background-color: #f1f1f1;
  position: fixed;
  top: 10%;
  left: 0;
  height: auto;
  overflow: auto;
}

div.postContainer {
  list-style-type: none;
  top: 200px;
  margin-left: 25%;
  margin-top: 120px;
  height: auto;
  overflow: auto;
}

/*nav style */
.navbar-nav{
  --bs-nav-link-hover-color: #fff;
}

ul.topnav {
  list-style: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  background:linear-gradient(45deg, rgba(34,193,195,1) 0%, rgba(253,146,45,1) 100%);
  position: initial;
  top: 0;
  width: 100%;
  align-content: center;
  font-weight: 700;
  text-align: center;
}



ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
  background-color: rgba(15, 84, 85, 0.5);
}


ul.topnav li.center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

}

#nav-profile-img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.login-item{
  display: flex;
  margin-left: auto;
  align-items: center; 
  justify-content: flex-end;  
}
/* hide search bar on the nav bar*/
.mobile-search {
  display: none;
}

.mobile-search #search-button{
  color: #fff;
  font-size: 20px;
}

.bg-body-tertiary {
  background: linear-gradient(45deg, rgba(34, 193, 195, 1) 0%, rgba(253, 146, 45, 1) 100%);
}

.desktop-left-col {
  display: block;
}

@media screen and (max-width: 600px) {
  .mobile-search {
    display: block;  
  } 
  .desktop-left-col {
    display: none;
  }

  .center{
    display: none;
  }

  
}


/* left column part */
.left-col{
  position: fixed;
  width: 12vw;
  margin-top: 16px;
  padding-right: 10px;
  margin-left: -40px;
}

.search-bar{
  background-color: #22c1c3;
  border: 2px solid #22c1c3;
}

.top_box {
  margin: 10px auto;
  padding: 15px;
  border-radius: 5px;
  border: 2px solid #22c1c3;
}

.top-box a {
  color: #000;
  text-decoration: none;
}


.box-head {
  border-bottom: 1px solid rgba(12, 12, 12, 30%);
  padding: 10px 0;
  font-weight: bold;
  text-align: center;
}



#search-btn{
  border: none;
  background-color: transparent;
  outline: none;
  padding: 10px;
  cursor: pointer;
}

#search-input{
  border-radius: 10px;
  padding: 5px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}


/* Filter options */
.search-filter{
  font-size: 15px;
  margin-top: 10px;
}
#topic-filter, #tag-filter {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  margin: 10px;
}


#topics-container li {
  cursor: pointer;
}
#topics-container li > i {
  margin: 5px 8px;
}
#topic-filter span > i, #tag-filter span > i{
  margin: 2px 5px;
}
#topic-filter span, #tag-filter span {
  width: fit-content;
  cursor: pointer;
}

/* footer part */
.bottom-banner {
  background:linear-gradient(45deg, rgba(253,146,45,1), rgba(34,193,195,1) 100% 0%);
  color: white;
  text-align: center;
  padding: 10px;
  bottom: 0;
  width: 100%;
}

.banner-header{
  display: flex;           
  justify-content: space-between; 
  align-items: center;   
  width: 100%; 
}

.banner-header h4 {
  margin: 0;
  flex-grow: 1;
  font-weight: bold;
}

.bottom-banner button {
  margin : 10px;
}

.bottom-banner a {
  text-decoration: none;
}

body {
  /* this padding make sure no content is covered by navbar */
  padding-top: 100px;
  /* this padding make sure no content is covered by banner */
  padding-bottom: 200px;

}

/* pagination */

/* alert for non-login user login or register */
.alert-info {
  --bs-alert-color: #095b6b;
  --bs-alert-bg: white ;
  --bs-alert-border-color: rgba(34,193,195,1) ;
  --bs-alert-link-color: var(--bs-info-text-emphasis);
  text-align: center;
  font-weight: bold;
  line-height: 3;
  margin-top: 40px;
}

#pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#prev-page, #next-page {
  margin: 0 20px;
}

#rank_top_container{
  background-color:#3d98b4;
  padding: 0%;
}
#rank_header{
  padding: 0%;
  padding-bottom: 0%;
  height: 100px;
  margin-bottom: 0%;
  font-size: 50px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  color:  whitesmoke;;
}

#rank_name{
  color: whitesmoke;
}
#rank_container {
  align-items: center;
  padding: 0%;
  width: 100%;
  margin: 0 auto;
  color: #BAE4E6;
  margin-bottom: 5px;
}

#rank_table {
  margin-left: 10%;
  color:  whitesmoke;;
  width: 80%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  margin-top: 10px;
  margin-bottom: 5px;
}

#nav-profile-img {
  margin-right: 20px;
}

#substitute-img{
  color: #f3d37c; 
  padding-right: 20px;
}

#rank-profile_img div {
  display: inline-block;
}

#rank_table th, #rank_table td {
    padding: 20px 40px;
    text-align: left;
}

#rank_table th {
    font-weight: bold;
}

#logo_box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}
#logo_cantainer{
  padding: 0;
  margin-top: -5px;
  margin-left: 10%;
  padding-top: 0%;

}
#logo {
padding: 0%;
height: 75px;
width: auto;
object-fit: contain;
}

#logo_and{
  padding: 0%;
}
.points_history_table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.points_history_table th {
  padding: 10px;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  text-align: left;
}

.points_history_table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.points_history_table tr:hover {
  background-color: #f1f1f1;
}

/* button style */
.btn-outline-info {
  --bs-btn-color: black;
  --border-color: rgba(67, 186, 173);
  --bs-btn-hover-bg:rgba(67, 186, 173);
  --bs-btn-active-bg: rgba(67, 186, 173);
  --bs-btn-border-color: rgba(67, 186, 173);
}

.btn-outline-light{
  font-weight: bold;
}

.btn-info {
  font-weight: bold;
  --bs-btn-color: white;
  --bs-btn-bg: rgba(67, 186, 173);
  --bs-btn-hover-bg: rgb(78, 218, 201);
}


/* select interested topic modal */
#topicModal .modal-content {
  margin-top: 150px;
}

#topicModal .btn-outline-info{
  margin: 5px;
}