{% extends 'base.html' %}
{% block title %}About Us{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/about-us.css') }}">
{% endblock %}

{% block container %}
<div class="us_container container-fluid">
  <div id="us_heading">
    <h1>About Us</h1>
    <h4> 
      <strong>No Worries, Neighbour</strong> connects people in need with community members who are eager to assist.
    </h4>
  </div>
  <div class="web_intro row">
    <div id="us_goal" class="col-sm-6">
      <p id="us__goal_p">
        The goal of <strong>No Worries, Neighbour</strong> is to facilitate a supportive environment where Perth residents can post requests for help and respond to others’ needs. Whether it’s finding a new place, sharing food, or looking for company, our platform makes it easy to get the help you need.
      </p>
      <p>
        Founded in March 2024 by community-minded IT students from UWA, <strong>No Worries, Neighbour</strong> was inspired by a passion for fostering mutual cooperation and addressing the challenges faced by community members in seeking and offering help.
      </p>
    </div>
    <div id="about_us_img1" class="col-sm-6">
      <img src="{{ url_for('static', filename='images/about_1.png') }}" alt="about_us_img1">
    </div>
  </div>
  <div class="us_container_parts row">
    <h2 id="us_h2">
      <strong>No Worries, Neighbour</strong> enhances user experience and community interaction:
    </h2>
    <div class="web_intro row">
      <div class="us_container_features col-sm-3">
        <h4>Post Requests</h4>
        <p>Users can easily submit their help requests, detailing the specific assistance they need along with the relevant time and location.</p>
      </div>
      <div class="us_container_features col-sm-3">
        <h4>Search Requests</h4>
        <p>Users can search for requests based on topics, tags and post content.</p>
      </div>
      <div class="us_container_features col-sm-3" id="feature3">
        <h4>Respond to Requests</h4>
        <p>Other users can browse these requests and offer their help, facilitating meaningful community engagement.</p>
      </div>
    </div>
    <div class="web_intro row">
      <div class="us_container_features col-sm-3">
        <h4>Profile Management</h4>
        <p>Users can manage their profiles, including updating personal information and profile images.</p>
      </div>
      <div class="us_container_features col-sm-3">
        <h4>Community Interaction</h4>
        <p>Users can connect with others in the community, build relationships, and support each other.</p>
      </div>
      <div class="us_container_features col-sm-3" id="feature6">
        <h4>Points System</h4>
        <p>We believe that helping each other should not only reflect community spirit but also be rewarded. Our points system incentivizes and recognizes active participation, making every act of help count.</p>
      </div>
    </div>
  </div>
  <div id="user_story" class="row">
    <div id="user_story_header">
      <h2>User Stories</h2>
    </div>
    <div class="row">
      <div id="user_1_container" class="col-sm-6">
        <div id="user_1">
          <img src="{{ url_for('static', filename='images/users_2.png') }}" alt="user_2_img">
          <p><strong>John</strong> is a university student who recently moved to Perth. 
            He is looking for a place to stay and is unfamiliar with the local housing market.<br> 
            John posts a request on <strong>No Worries, Neighbour</strong> 
            seeking advice on finding affordable accommodation. Thanks to the responses from community members, 
            John receives valuable information and recommendations, 
            helping him secure a suitable place to live.</p>
        </div>
      </div>
      <div id="user_2_container" class="col-sm-6">
        <div id="user_2">
          <img src="{{ url_for('static', filename='images/users_1.png') }}" alt="user_1_img">
          <p><strong>Mary</strong> is a busy working professional who struggles to find time to cook healthy meals. <br>
            She posts a request on <strong>No Worries, Neighbour</strong> asking for meal prep tips and recipes. 
            Community members share their favorite recipes and meal planning strategies, 
            enabling Mary to maintain a balanced diet despite her hectic schedule.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div id="impact" class="row">
    <h2 class="col-sm-6">Value and Impact</h2>
    <p class="col-sm-6">
      Since its launch, <strong>No Worries, Neighbour</strong> has helped over 10,000 Perth residents assist each other, significantly strengthening community bonds. Feedback from our users consistently highlights how the platform has enhanced their quality of life and fostered greater community cohesion.
    </p>
  </div>
  <div id="contact" class="row">
    <h2>Contact Information</h2>
    <p><strong>
        We warmly welcome new members to join our community support platform. If you're interested in becoming part of No Worries, Neighbour or if you have suggestions, please contact us:
      </strong></p>
      <ul>
        <li>Website: <a href="/">www.no_worries_neighbour.com</a></li>
        <li>Email: <a href="mailto:support@noworries.neighbour.com">support@noworries.neighbour.com</a> </li>
      </ul>
      <p><strong>
        <a href="{{ url_for('auth.signup') }}">Register an account</a>&nbsp;today with No Worries, Neighbour and begin your journey of mutual support as we strive together to make Perth a more welcoming community!
      </strong></p>
  </div>
</div>
{% endblock %}
