<!-- Footer -->
{% if current_user.is_authenticated %}
<!-- Modal #topicModal -->
{% set show_topics = not current_user.interested_topics %}
<input type="text" id="showTopicsModal" value="{% if show_topics %}true{% endif %}" hidden>
<div class="modal fade" id="topicModal" tabindex="-1" aria-labelledby="topicModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="topicModalLabel">Select Your Interested Topics</h1>
        {% if not show_topics %}
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        {% endif %}
      </div>
      <div class="modal-body">
        <form method="POST" action="{{ url_for('auth.topic_select') }}">
          <div class="form-group">
            <div class="form-check">
              {% for topic in topics %}
              <input class="btn btn-outline-info" data-bs-toggle="button" type="button" value="{{ topic }}">
              {% endfor %}
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="next" class="btn btn-info">Proceed</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal #create-post -->
<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <!-- Modal header -->
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="createModalLabel">
          Start a New Post
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!-- Modal body -->
      <form method="post">
        {{ create_post_form.hidden_tag() }}
        <div class="modal-body">
          <!-- post title -->
          <div class="mb-3">
            <label for="title" class="col-form-label">Give it a title:</label>
            {{ create_post_form.title(class="form-control") }}
            <!-- div for title errors -->
            <div class="invalid-feedback" style="display: none;"></div>
          </div>

          <!-- post topic and location -->
          <div class="input-group mb-3">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
              aria-expanded="false">Please select a topic</button>
            <ul class="dropdown-menu" id="topic-list">
              <!-- dropdwn items will be added here -->
            </ul>
            {{ create_post_form.topic(class="form-control", id="topic", readonly='readonly') }}
            <span class="input-group-text">
              <i class="fas fa-location-dot"></i>
            </span>
            {{ create_post_form.location(class="form-control", id="location", placeholder="(Optional) Enter your location") }}
            <!-- div for topic errors -->
            <div class="invalid-feedback" style="display: none;"></div>
          </div>

          <!-- post body -->
          <div class="mb-3">
            <div id="body" class="form-control" style="height: 200px;"></div>
            <!-- div for topic errors -->
            <div class="invalid-feedback" style="display: none;">
            </div>
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-info">Post</button>
        </div>
      </form>

    </div>
  </div>
</div>
{% else %}
  {% if show_banner | default(true) %}
    <!-- bottom banner -->
    <div class="fixed-bottom">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="bottom-banner">
              <div class="banner-header">
                <h4> More than 10,000 people already use our website! </h4>
                <button type="button" class="btn-close" aria-label="Close"></button>
              </div>
              <a href="{{ url_for('auth.signup') }}" class="btn btn-outline-light">Register Now</a>
              <a href="{{ url_for('auth.signin') }}" class="btn btn-outline-light">Login</a>
            </div>

      </div>

    </div>

  </div>

</div>
{% endif %}

{% endif %}
<!-- Toast -->
<div class="toast-container position-fixed p-3">
  <div id="action-toast" class="toast align-items-center border-0" role="alert" aria-live="assertive"
    aria-atomic="true">
    <div class="d-flex">
      <div class="toast-body"></div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
        aria-label="Close"></button>
    </div>
  </div>
</div>
<!-- End footer -->