{% extends 'base.html' %}
{% block container %}
<div class="container">
  <div class ="row">
    <!-- top 5 topics -->
    <div class="col-md-2">
      <div id="hot_topics">
        <div id="topic_box" class="top_box">
          <div class="box_head">TOP 5 Topics</div>
          <ul id="topic_list">
            {% for topic in top_topics %}
            <li><a href="{{ url_for('index.search',topics=topic)}}">{{topic}}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>

    <!-- top 5 tags -->
      <div id="hot_tags">
        <div id="tag_box" class="top_box">
          <div class="box_head">TOP 5 Tags</div>
          <ul id="tag_list">
            {% for tag in top_tags %}
            <li><a href="{{ url_for('index.search',tags=tag)}}">{{tag}}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>


    
    <!-- search result -->
    <div class="col-md-10">
      {% if current_user.is_authenticated %}
      <div id="index-search-result-container">
        {% if posts %}
        {% for post in posts %}
        <div class="search-result-box">
          <h4><a href="/post/{{ post.id }}">{{ post.title }}</a></h4>
          <div class="search-author-info">
            {% if post.user_info.profile_img %}
            <img src="{{ url_for('index.serve_uploaded_file', filename=post.user_info.profile_img) }}" alt="author photo">            
            {% else %}
            <i class="fa-solid fa-circle-user"></i>
            {%endif%}
            <span class="search-result-author-level">{{ post.level }}</span>
            <span>{{ post.username }}</span>
          </div>
          <div class="search-post-body">
            <p>{{ post.body | safe }}</p>
          </div>
          <div class="search-footer">
            <span><i class="fa-solid fa-feather"></i> {{ post.timestamp }}</span>
            <span>
              <i class="fa-solid fa-eye"></i> {{ post.views }}
            </span>
          </div>
        </div>
        {% endfor %}
        {% else %}
        <p> No results found </p>
        {% endif %}
      </div>
      {% else %}
      <div class="container_1">
        <div class="container_1_1">
          <div class="row" id="t_1">
            <img src=".././static/images/logo_1.png" alt="">
          </div>
          <div class="row">
              <p class="text-center">Please <a href="{{ url_for('auth.signin') }}">sign in</a> or <a href="{{ url_for('auth.signup') }}">sign up</a> to continue.</p>
          </div>
        </div>
      </div>
      {% endif %}
    </div>



  </div>
</div>
{% endblock %}