<nav class="navbar fixed-top  navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <!-- this search bar will hide on desktop devices and display on mobile devices -->
    <div class="mobile-search">
      <div class="input-group">
        <!-- Search button for mobile devices -->
        <button class="btn search-button" type="button">
          <i class="fa-solid fa-search"></i>
        </button>
        <!-- Search input for mobile devices -->
        <input type="text" class="form-control search-body" id="mobile-search-body" placeholder="Enter keyword">
      </div>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 topnav">
        <li class="nav-item">
          <a class="nav-link" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#createModal" id="create" data-bs-toggle="modal">Create post</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/rank">Scoreboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About us</a>
        </li>
        <li class="nav-item center" class="row" id="logo_box">
          <div id="logo_cantainer">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="DownUnderUs Logo" id="logo">
          </div>
          <a style="color:white; font-size:20px;" href="/home">
            No Worries, Neighbour
          </a>
        </li>
        {% if not current_user.is_authenticated %}
        <li class="nav-item login-item">
          <a href="{{ url_for('auth.signin') }}">
            Sign In
            <i class="fas fa-sign-in-alt"></i>
          </a>
        </li>
        {% else %}
        <li class="nav-item login-item">
          <a href="/profile/">
            {% if current_user.profile_image %}
            <img id=nav-profile-img src="{{ url_for('index.serve_uploaded_file', filename=current_user.profile_image) }}" alt="Profile Image">
            {% else %}
            <i class="fa-solid fa-circle-user" ></i>
            {% endif %}
            <span></span>
            {{ current_user.username }}
          </a>
          <a href="{{ url_for('auth.signout') }}">
            Sign Out
            <i class="fas fa-sign-out-alt"></i>
          </a>
        </li>
        {% endif %}
      </ul>
    </div>

  </div>
</nav>