<nav>
  <ul class="topnav">
    <li><a href="/">Home</a></li>
    <li><a href="#createModal" id="create" data-bs-toggle="modal">Create post</a></li>
    <li><a href="/about"> About us</a></li>
    <!-- Search bar -->
    <li class="center">
      <div class="input-group">
        <!-- Search button -->
        <button class="btn" type="button" id="search-button">
          <i class="fa-solid fa-search"></i>
        </button>
        <!-- Search input -->
        <input type="text" class="form-control" id="search-body" placeholder="Enter keyword">
        <!-- Filter button -->
        <button type="button" class="btn" id="search-filter" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa-solid fa-filter"></i>
        </button>
        <ul id="filter-menu" class="dropdown-menu">
          <li class="dropdown-item"></li>
        </ul>
        <!-- Sort button -->
        <button type="button" id="search-sort" class="btn" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa-solid fa-arrow-down-wide-short"></i>
        </button>
        <ul class="dropdown-menu">
          <li class="dropdown-item">
            <input id="timestamp_desc" name="sort-by" type="radio" class="btn-check" value="timestamp_desc" autocomplete="off" checked>
            <label class="btn" for="timestamp_desc">
              New to Old
            </label>
          </li>
          <li class="dropdown-item">
            <input id="timestamp_asc" name="sort-by" type="radio" class="btn-check" value="timestamp_asc" autocomplete="off">
            <label class="btn" for="timestamp_asc">
              Old to New
            </label>
          </li>
          <li class="dropdown-item">
            <input id="views_desc" name="sort-by" type="radio" class="btn-check" value="views_desc" autocomplete="off">
            <label class="btn" for="views_desc">
              Most Views
            </label>
          </li>
          <li class="dropdown-item">
            <input id="views_asc" name="sort-by" type="radio" class="btn-check" value="views_asc" autocomplete="off">
            <label class="btn" for="views_asc">
              Least Views
            </label>
          </li>
        </ul>
      </div>
    </li>
    {% if not current_user.is_authenticated %}
    <li class="right">
      <a href="{{ url_for('auth.signin') }}">
        Sign In
        <i class="fas fa-sign-in-alt"></i>
      </a>
    </li>
    {% else %}
    <li class="right">
      <a href="{{ url_for('auth.signout') }}">
        Sign Out
        <i class="fas fa-sign-out-alt"></i>
      </a>
    </li>
    <li class="right">
      <a href="/profile/">
        <!-- TODO: align the img and name -->
        {% if current_user.profile_image %}
        <img id=nav-profile-img src="{{ url_for('index.serve_uploaded_file', filename=current_user.profile_image) }}" alt="Profile Image">
        {% else %}
        <i class="fa-solid fa-circle-user" ></i>
        {% endif %}
        <span></span>
        {{ current_user.username }}
      </a>
    </li>
    {% endif %}
  </ul>

</nav>