<!-- Filter box for topics -->
<div id="topics-container" class="row d-flex justify-content-center align-items-center">
  <div class="d-flex align-items-center dropdown">
    <button type="button" class="btn" data-bs-toggle="dropdown" data-bs-auto-close="false" name="search-filter">
      <i class="fa-solid fa-rectangle-list" data-bs-toggle="tooltip" data-bs-title="Click to add more"></i>
    </button>
    <span>Filtered Topics</span>
    <ul class="dropdown-menu">
      {% for topic in topics %}
      <li class="dropdown-item"><i class="fa-solid fa-plus"></i>{{ topic }}</li>
      {% endfor %}
    </ul>
  </div>
  <div class="d-none">
    <div id="topic-filter" class="row">
      <!-- Insert topics via javascript -->
    </div>
  </div>
</div>

<!-- Filter box for tags -->
<div id="tags-container" class="row d-flex align-items-center">
  <div class="d-flex align-items-center">
    <button type="button" class="btn">
      <i class="fa-solid fa-hashtag" data-bs-toggle="tooltip" data-bs-title="Click to add more"></i>
    </button>
    <span>Filtered Tags</span>
  </div>
  <div class="d-none">
    <div id="tag-filter" class="row">
      <!-- Insert tags via javascript -->
    </div>
  </div>
</div>

<!-- Sort button -->
<button type="button" id="search-sort" class="btn" data-bs-toggle="dropdown" aria-expanded="false">
  <i class="fa-solid fa-arrow-down-wide-short" data-bs-toggle="tooltip" data-bs-title="Click to change sort order"></i>
</button>
<ul class="dropdown-menu">
  <li class="dropdown-item">
    <input id="timestamp_desc" name="sort-by" type="radio" class="btn-check" value="timestamp_desc" checked>
    <label class="btn" for="timestamp_desc">
      New to Old
    </label>
  </li>
  <li class="dropdown-item">
    <input id="timestamp_asc" name="sort-by" type="radio" class="btn-check" value="timestamp_asc">
    <label class="btn" for="timestamp_asc">
      Old to New
    </label>
  </li>
  <li class="dropdown-item">
    <input id="views_desc" name="sort-by" type="radio" class="btn-check" value="views_desc">
    <label class="btn" for="views_desc">
      Most Views
    </label>
  </li>
  <li class="dropdown-item">
    <input id="views_asc" name="sort-by" type="radio" class="btn-check" value="views_asc">
    <label class="btn" for="views_asc">
      Least Views
    </label>
  </li>
</ul>
<span id="sort"></span>