{% extends 'base.html' %}
{% block title %}Top Community Stars{% endblock %}
{% block container %}
<div id="rank_top_container" class="container">
    <div id="rank_header" class="text-center my-4">Top 10 Community Stars</div>
    <div id="rank_container" class="table-responsive">
    <table id="rank_table" class="table">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Username</th>
                <th>Points</th>
                <th>Level</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ loop.index }}</td>
                <td class="rank-profile_img">
                    <a href="{{ url_for('profile.profile_view', user_id=user.id) }}">
                        <div class="d-flex align-items-center">
                            {% if user.profile_image %}
                            <img class="nav-profile-img rank_img" src="{{ url_for('index.serve_uploaded_file', filename=user.profile_image) }}" alt="Profile Image">
                            {% else %}
                            <i class="fa-solid fa-face-smile fa-2xl substitute-img"></i>
                            {% endif %}
                            {{ user.username }}
                        </div>
                    </a>
                </td>
                <td>{{ user.points }}</td>
                <td>{{ user.level }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</div>

{% endblock %}