{% extends 'base.html' %}
{% block container %}
<h1>User Rankings</h1>
<table>
    <thead>
        <tr>
            <th>Rank</th>
            <th>Username</th>
            <th>Points</th>
            <th>Level</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ loop.index }}</td>
            <td><a href="{{ url_for('profile.view_user_profile', user_id=user.id) }}">{{ user.username }}</a></td>
            <td>{{ user.points }}</td>
            <td>{{ user_level(user.id) }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}