{% extends 'base.html' %}
{% block container %}
<div class="container">
  <div id="search-result-container">
    {% if posts %}
    {% for post in posts %}
    <div class="container mt-3 search-result-box">
      <!-- Header with title and topic -->
      <div class="row">
          <div class="col">
              <h4><a href="/post/{{ post.id }}">{{ post.title }}</a></h4>
          </div>
          <div class="col-auto">
              <span class="badge bg-secondary">{{ post.topic }}</span>
          </div>
      </div>
  
      <!-- Author info -->
      <div class="row align-items-center mt-2 search-author-info">
          <!-- Profile image -->
          <div class="col-auto">
            <a href="{{ url_for('profile.profile_view', user_id=post.user.id) }}">
              {% if post.user.profile_image %}
              <img src="{{ url_for('index.serve_uploaded_file', filename=post.user.profile_image) }}" >
              {% else %}
              <i class="fa-solid fa-circle-user" ></i>
              {% endif %}
            </a>
          </div>
  
          <!-- Author details: name and titles/level -->
          <div class="col">
              <div class="row">
                  <div class="col-12">
                    <a href="{{ url_for('profile.profile_view', user_id=post.user.id) }}">
                      <span class="search-author-name">{{ post.user.username }}</span>
                    </a>
                  </div>
              </div>
              <div class="row">
                  <div class="col-12">
                      <span class="search-author-level">{{ post.level }}</span>
                      {% for user_title in post.user.title_names %}
                      {% if user_title != 'Newcomer' %}
                      <span class="badge rounded-pill bg-custom">{{ user_title }}</span>
                      {% endif %}
                      {% endfor %}
                  </div>
              </div>
          </div>
      </div>
  
      <!-- Post body and footer -->
      <div class="row mt-2">
          <div class="col">
              <div class="search-post-body">
                  <p>{{ post.body | safe }}</p>
              </div>
              <div class="search-footer">
                  <span><i class="fa-solid fa-feather"></i> {{ post.timestamp }}</span>
                  <span><i class="fa-solid fa-eye"></i> {{ post.views }}</span>
              </div>
          </div>
      </div>
    </div>
  
  {% endfor %}
  {% else %}
  <p> No results found </p>
  {% endif %}
  </div>
  
</div>
{% endblock %}